@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

html, body{
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  color:#0a0414;
}
.navbar{
  padding: .8rem;
}
.navbar-brand img{
  width: 150px;
  height: 70px;
}
.navbar-nav li{
  padding-right: 2px;
}
.nav-link{
  font-size: 1.1em;
  white-space: nowrap;
}
.carousel-inner img{
  width: 100%;
  height: 530px;
}
.carousel-caption {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.carousel-caption h1 {
  font-size: 500%;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px #000;
}
.carousel-caption h3 {
  font-size: 200%;
  font-weight: 500;
  text-shadow: 1px 1px 10px #000;
  padding-bottom: 1rem;
}
.btn-primary {
  background-color: #6648b1;
  border: 1px solid #564d7c;
}
.btn-primary:hover {
  background-color: #563d7c;
  border: 1px solid #563d7c;
}
.jumbotron {
  padding: 1rem;
  border-radius: 0;
}
.padding {
  padding-bottom: 2rem;
} 
.welcome {
  width: 75%;
  margin: 0 auto;
  padding-top: 2rem;
}
.welcome hr {
  border-top: 2px solid #b4b4b4;
  width: 95%;
  margin-top: .3rem;
  margin-bottom: 1rem;
}
.fa-code {
  color: #e54d26;
}
.fa-bold {
  color: #563d7c;
}
.fa-css3 {
  color: #2a63af;
}
.fa-code, .fa-bold, .fa-css3 {
  font-size: 4em;
  margin: 1rem;
}
.fun{
  width: 100%;
  margin-bottom: 2rem;
}
.gif {
  max-width: 100%;
}
.social a {
  font-size: 4.5em;
  padding: 3rem;
}
.fa-facebook {
  color: #3b5998;
}
.fa-twitter {
  color: #00aced;
}
.fa-google-plus-g {
  color: #dd4b39;
}
.fa-instagram {
  color: #517fa8;
}
.fa-youtube {
  color: #bb0000;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-google-plus-g:hover,
.fa-instagram:hover,
.fa-youtube:hover {
  color: #d5d5d5;
}
footer {
  background-color: #92cfa1;
  color: #030202;
  padding-top: 2rem;
}
hr.light {
  border-top: 1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
footer a {
  color: #dd0a0a;
}
hr.light-100 {
  border-top: 1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.footer-image img{
  width: 150px;
  height: 60px;
}

.email-image img{
  width: 60px;
  height: 30px;
}

.align-text-center{
  text-align:center;
}

.align-text-right{
  text-align:right;
}

/*---Media Queries --*/
@media (max-width: 1500px){
  .carousel-inner img{
    width: 100%;
    height: 550px;
  }
}

@media (max-width: 992px) {
  .social a{
    font-size: 4em;
    padding: 2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 400px;
  }
  }
@media (max-width: 768px) {
  .carousel-caption {
    top: 45%;
  }
  .carousel-caption h1 {
    font-size: 350%;
  }
  .carousel-caption h3 {
    font-size: 140%;
    font-weight: 400;
    padding-bottom: 0.2rem;
  }
  .carousel-caption .btn {
    font-size: 95%;
    padding: 8px 14px;
  }
  .display-4 {
    font-size: 200%;
  } 
  .display-4 {
    font-size: 200%;
  }
  .social a{
    font-size: 2.5em;
    padding: 1.2rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 576px) {
  carousel-caption {
    top: 40%;
  }
  .carousel-caption h1 {
    font-size: 250%;
  }
  .carousel-caption h3 {
    font-size: 110%;
  }
  .carousel-caption .btn {
    font-size: 90%;
    padding: 4px 8px;
  }
  .carousel-indicators {
    display: none;
  }
  .display-4 {
    font-size: 160%;
  }
  .social a{
    font-size: 2em;
    padding: 1.7rem;
  }
  .carousel-inner img{
    width: 100%;
    height: 100%;
  }
}

.responsive {
  width: 100%;
  max-width: 400px;
  height: auto;
}


/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible; 
  backface-visibility: visible;
}

/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

.h1-style{
  background-color:rgb(125, 28, 160);
  font-family:Lucida;
  font-size: 200%;
  color: rgb(255, 255, 255);;
  text-shadow: 4px 4px #040606;
}



/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/


html {
  height:100%;
}

body {
  margin:0;
}

/* .bg {
  animation:slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgb(239, 239, 239) 50%, rgb(174, 129, 230) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:4s;
}

.bg3 {
  animation-duration:5s;
}

.content {
  background-color:rgba(255,255,255,.8);
  border-radius:.25em;
  box-shadow:0 0 .25em rgba(0,0,0,.25);
  box-sizing:border-box;
  left:50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

h1 {
  font-family:monospace;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
} */
.wyg-img{
  width: 100%;
  height: 50%;
}
.blog-author{padding:0;position:relative;border:1px solid #e5e5e5}
.author-details{margin-left:135px;padding:30px 25px 25px;position:relative;border-left:1px solid #e5e5e5}
.author-details h6{margin:0 0 15px;line-height:1.2;letter-spacing:1px}
.author-label{width:100px;float:left;border:2px solid #fff;border-radius:50%;-webkit-box-shadow:0 0 3px 0 rgba(0,0,0,.43);-moz-box-shadow:0 0 3px 0 rgba(0,0,0,.43);box-shadow:0 0 3px 0 rgba(0,0,0,.43);margin-top:20px;margin-left:15px}
.author-label img{width:100%;height:100px;border-radius:50%}.blog-author .social a{color:#777;display:inline-block;margin-right:15px;font-size:16px}


/* ----- Fix image alignment & overflow in showcase section ----- */
.swiper-container {
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  border-radius: 8px;
}

.swiper-slide img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.showcase-card img {
  width: 100%;
  height: auto;
  display: block;
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

.row.no-gutters > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* ensure equal height columns stack properly */
@media (min-width: 768px) {
  .showcase-card, .swiper-container {
    min-height: 100%;
  }
}

/* ----- Navbar Professional Style ----- */
.navbar-light .navbar-nav .nav-link {
  color: #000 !important;
  font-weight: 600;
}

.navbar-dark .navbar-nav .nav-link {
    color: #222;
    padding: 8px 10px;
    margin: 0 2px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.ex-header .navbar-dark .navbar-nav .nav-link {
    color: #fff;
}


.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: yellow !important;
    background-color: rgba(248, 248, 248, 0.192);
    text-decoration: none;
}

.ex-header .navbar-dark .navbar-nav .nav-link:hover,
.ex-header .navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark.fixed-top.top-nav-collapse .navbar-nav .nav-link:hover,
.navbar-dark.fixed-top.top-nav-collapse .navbar-nav .nav-link:focus {
    color: yellow;
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-dark .navbar-nav .nav-item.active .nav-link {
    background-color: rgba(255, 255, 255, 0.2);
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #333 !important;
  text-decoration: underline;
}

.navbar-light .navbar-toggler-icon {
  filter: invert(100%);
}

/* Fix swiper width & prevent overlap */
.image-slider-1 {
  width: 100% !important;
  max-width: 100% !important;
  overflow: hidden;
  border-radius: 10px;
}

.image-slider-1 .swiper-slide img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

/* Keep equal spacing on all devices */
@media (min-width: 768px) {
  .image-slider-1 {
    min-height: 250px;
  }
}

/* Tweak swiper navigation visibility */
.swiper-button-next,
.swiper-button-prev {
  color: #333;
}

@media (max-width: 768px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none !important;
  }
}

    /* Fix for Swiper container height collapse in the showcase section */
    .showcase-slider-wrap {
      /* Apply aspect ratio padding for responsiveness */
      padding-bottom: 66.66%; 
      height: 0; 
      position: relative; 
    }
    .showcase-slider-wrap .swiper-container {
      position: absolute; 
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
    /* NEW: Define a fixed height for larger screens to ensure initialization */
    @media (min-width: 768px) {
        .showcase-slider-wrap {
            height: 250px; /* Adjust this value (e.g., 250px) to the desired height on desktop */
            padding-bottom: 0; /* Remove padding hack when fixed height is used */
        }
        .showcase-slider-wrap .swiper-container {
            position: relative; /* Change back for better flow */
        }
        .showcase-slider-wrap img {
            height: 100%;
            object-fit: cover; /* Ensures images fill the fixed height without distortion */
        }
    }
    
.navbar-dark.fixed-top {
}

.navbar-dark.fixed-top.top-nav-collapse {
    background-color: #2c3e50;
}

.navbar-dark.fixed-top.top-nav-collapse .navbar-nav .nav-link {
    color: #fff;
}